/* basic style here */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 55.5%;

}

body {
    font-family: 'Rubik', sans-serif;
    line-height: 1;
    font-weight: 400;
    color: #555;
}

/* header style here */
/* .................. */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff4e6;
    height: 9.6rem;
    padding: 0 4.8rem;
}

.header-logo {
    height: 2.4rem;
}

.main-nav-list {
    display: flex;
    gap: 3.2rem;
    list-style: none;
}

.main-nav-link:link,
.main-nav-link:visited {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 1.8rem;
}

.main-nav-link:active,
.main-nav-link:hover {
    color: #c76108;
}

.main-nav-link.nav-cta {
    background-color: #e67e22;
    color: #fff;
    padding: 1rem 1.5rem;
    border-radius: 8px;
}


/* hero section style here */
/* .......................... */
.section-hero {
    padding: 4.8rem 0 9.6rem 0;
    background-color: #fff4e6;
}

.hero {
    max-width: 130rem;
    padding: 0 3.2rem;
    margin: 0 auto;
    display: grid;
    gap: 9.6rem;
    grid-template-columns: 1fr 1fr;

}

.hero-picture {
    width: 100%;
}

.heading-primary,
.heading-secondary,
.heading-tertiary {
    line-height: 1.05;
    font-weight: 700;
    color: #333;
}

.heading-primary {
    font-size: 5.2rem;
    margin-bottom: 2.4rem;
    letter-spacing: -.5px;
}

.heading-secondary {
    font-size: 4.4rem;
    margin-bottom: 9.6rem;
    letter-spacing: -.75px;
}

.heading-tertiary {
    font-size: 3.5rem;
    margin-bottom: 3.2rem;
    letter-spacing: -.95px;
}

.subheading {
    display: block;
    font-size: 1.6rem;
    color: #e67e22;
    font-weight: 600;
    margin-bottom: 1.4rem;
    text-transform: uppercase;
}

.text-description {
    font-size: 1.8rem;
    margin-bottom: 4rem;
    line-height: 1.5;
}

.btn {
    font-size: 1.8rem;
    display: inline-block;
    border-radius: 8px;
    padding: 1.4rem 3.2rem;
    text-decoration: none;
    transition: all .5s;
    font-weight: 500;
}

.btn-full:link,
.btn-full:visited {
    background-color: #e67e22;
    color: #fff;
}

.btn-outline:link,
.btn-outline:visited {
    background-color: #e69822f5;
    color: #fff;
}

.btn-full:active,
.btn-full:hover {
    background-color: #ed9d56;
    color: black;
}

.btn-outline:active,
.btn-outline:hover {
    background-color: #e67e22;
}

.btn-margin-sm {
    margin-right: 1rem;
}

.hero-review {
    display: flex;
    align-items: center;
    margin-top: 5rem;
}

.review-img {
    margin-right: 1.5rem;
}

.reviews-customer {
    width: 4.8rem;
    height: 4.8rem;
    border-radius: 50%;
    margin-right: -1.5rem;
    border: 2px solid #fff4e6;
}

.reviews-customer:last-child {
    margin-right: 0;
}

.review-views {
    color: #e67e22;

}

/* Feature in section style here */
/* ............................. */
.feature-in {
    font-size: 1.8rem;
    font-weight: 500;
    color: #777;
    text-transform: uppercase;
    display: block;
    text-align: center;
    margin-bottom: 3.2rem;
}

.section-feature {
    padding: 4.8rem 0;
}

.logos {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logos img {
    height: 3.2rem;
    filter: brightness(0);
    opacity: 55%;
}

/* All application grid layout here */
/* ................................ */
.grid {
    display: grid;
    gap: 9.6rem;
}

.grid--2__cells {
    grid-template-columns: 1fr 1fr;
}

.grid--3__cells {
    grid-template-columns: repeat(3, 1fr);
}

.grid--4__cells {
    grid-template-columns: 2fr 1fr;
}

.grid--5__cells {
    grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

.grid--align__v {
    align-items: center;
}


/* Section-how style here */
/* ....................... */
.how-img-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.how-img-box img {
    width: 35%;
}

.container {
    padding: 0 4rem;
    width: 120rem;
    margin: 0 auto;

}

.text-number {
    font-size: 8.6rem;
    font-weight: 600;
    color: #ddd;
}

.section-how {
    padding: 9.6rem 0;
}

.how-img-box::before {
    position: absolute;
    content: " ";
    display: block;
    padding-bottom: 60%;
    width: 60%;
    background-color: #fff4e6;
    border-radius: 50%;
    z-index: -2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.how-img-box::after {
    position: absolute;
    content: " ";
    display: block;
    padding-bottom: 45%;
    width: 45%;
    background-color: #f8e2c5;
    border-radius: 50%;
    z-index: -1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* Meals section style here */
/* ........................ */
.section-meals {
    padding-bottom: 9.6rem;
}

.align-center {
    text-align: center;
}

.meals-card {
    border-radius: 1.2rem;
    box-shadow: 0 2.4rem 4rem rgba(0, 0, 0, 0.07);
    overflow: hidden;
    transition: all .4s;
}

.meals-card:hover {
    transform: translateY(-2rem);
    box-shadow: 0 4rem 6.4rem rgba(0, 0, 0, 0.07);
}

.meal-img {
    width: 100%;
}

.meals-title {
    font-size: 2.4rem;
    color: #333;
    font-weight: 700;
    margin-bottom: 2.4rem;
}

.meals-tag {
    padding: 3.2rem;
}

.tags {
    font-size: 1.4rem;
    color: #333;
    font-weight: 600;
    display: inline-block;
    margin-bottom: 1rem;
    border-radius: 1.5rem;
    padding: .4rem .8rem;
}

.tags__vege {
    background-color: #37b24d;
}

.tags__vegan {
    background-color: #82c91e;
    margin-right: .4rem;
}

.tags__paleo {
    background-color: #fcc419;
}

.meals-remain {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 1.6rem;
}

/* Testimonial section style here */
/* .............................. */
.section-testimonials {
    padding: 9.6rem 0;
    display: grid;
    grid-template-columns: 55fr 45fr;
    background-color: #fff4e6;
}

.testimonials {
    padding: 5.2rem;
}

.testimonials-text {
    padding: 4.8rem 0;
}

.textimonials-contentbox {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4.8rem;
}

.contentbox {
    height: 4.8rem;
    width: 4.8rem;
    border-radius: 50%;
}

.contenbox-text {
    font-size: 1.8rem;
    line-height: 1.57;
    margin-bottom: 2rem;
}

.contentbox-name {
    font-size: 1.8rem;
}

.testimonials-img_box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.7rem;

}

.textimonials-img-fig {
    overflow: hidden;
}

.img-box {
    display: block;
    width: 100%;
    transition: all .4s;
    overflow: hidden;
}

.img-box:hover {
    transform: scale(1.1);
}


/* Pricing section style here */
/* .......................... */
.section-pricing {
    padding: 9.6rem 0;
}

.pricing-header {
    text-align: center;
    margin-bottom: 4.8rem;

}

.pricing-card {
    border-radius: 1.1rem;
    width: 65%;
}

.pricing-card__starter {
    padding: 3.8rem;
    justify-self: end;
    background-color: #fbfbfb;
    border: 2px solid #fff4e6;
}

.pricing-card__base {
    padding: 4rem;
    background-color: #fff4e6;
    position: relative;
    overflow: hidden;
}

.pricing-card__base::after {
    display: inline-block;
    content: "BEST VALUE";
    top: 2.6rem;
    right: -3.5rem;
    position: absolute;
    background-color: #ffd43b;
    padding: .6rem 3.4rem;
    font-size: 1.4rem;
    font-weight: 600;
    transform: rotate(45deg);

}

.pricing-name {
    font-size: 6.4rem;
    font-weight: 500;
    color: #333;
    margin-bottom: 1.5rem;
}

.pricing-name-inner {
    font-size: 2.6rem;
    font-weight: 600;
    color: inherit;
    margin-right: .5rem;
}

.pricing-text {
    font-size: 1.6rem;

}

.pricing-list {
    list-style: none;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    font-weight: 500;
    margin-bottom: 4.8rem;
}

.pricing-list-item {
    font-size: 1.6rem;
}

.pricing-btn {
    text-align: center;
}


/* Section-cta style here */
/* ...................... */
.section-cta {
    padding: 9.6rem 0;
}

.cta {
    background-image: linear-gradient(to right bottom, #c76108, #e67e22);

    border-radius: 1.1rem;
    overflow: hidden;
}

.cta-textbox {
    padding: 4.8rem;

}

.heading-tertiary__color {
    color: #222;
}

.cta-imgbox {
    background-image: linear-gradient(to right bottom, hsla(28, 92%, 41%, 0.357), hsla(28, 80%, 52%, 0.356)),
        url(../eating.jpg);
    background-position: center;
    background-size: cover;
}

.cta label {
    font-size: 1.6rem;
    font-weight: 600;
    display: block;
    color: #222;
    margin-bottom: 1.2rem;
}

.cta input {
    width: 100%;
    padding: 1.2rem;
    border: none;
    border-radius: .3rem;
    font-family: inherit;
}

.cta select {
    width: 100%;
    padding: 1.2rem;
    border: none;
    border-radius: .3rem;
    font-family: inherit;
}

.cta button {
    width: 100%;
    align-self: end;
    border: none;
    border-radius: .3rem;
    padding: 1.2rem;
    background-color: #421d03;
    color: #fff;
}

.cta-text {
    font-size: 1.8rem;
    color: #222;
    margin-bottom: 4.8rem;
    line-height: 2rem
}

.cta-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3.2rem;
}


/* Footer style here */
/* .................. */
.footer-part {
    padding: 9.6rem 0;
    border-top: 1px solid #f7d8b0;
    color: #222;
    line-height: 1.5;
}

.footer-grid {
    display: grid;
    gap: 3.2rem;
}

.logo-col__text {
    font-size: 1.6rem;


}

.header-logo {
    margin-bottom: 4.8rem;

}

.footer-header {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 3rem;
}

.address-text {
    font-size: 1.6rem;
    margin-bottom: 2rem;


}

.address-link {
    text-decoration: none;
    font-size: 1.6rem;
    color: inherit;

}

.nav-col__list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    list-style: none;

}

.nav-col__item a {
    font-size: 1.6rem;
    color: #222;
    text-decoration: none;

}

/* make website responsive code  */

@media only screen and (max-width: 600px) {

    /* make responsive header */
    /* ...................... */
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #fff4e6;
        height: 9.6rem;
        padding: 0 4.8rem;
    }

    .header-logo {
        height: 2.4rem;
    }

    .main-nav-list {
        display: none;
    }

    .main-nav-link:link,
    .main-nav-link:visited {
        text-decoration: none;
        color: #333;
        font-weight: 500;
        font-size: 1.8rem;
    }

    .main-nav-link:active,
    .main-nav-link:hover {
        color: #c76108;
    }

    .main-nav-link.nav-cta {
        background-color: #e67e22;
        color: #fff;
        padding: 1rem 1.5rem;
        border-radius: 8px;
    }


    /* make hero section mobile responsive here */
    /* ........................................ */
    .hero {
        display: flex;
        flex-direction: column-reverse;
        gap: 4rem
    }

    .heading-primary {
        font-size: 4.2rem;
        margin-bottom: 1.6rem;
    }

    /* todo */
    .heading-secondary {
        font-size: 3.4rem;
        margin-bottom: 3.5rem;
    }

    /* todo */
    .heading-tertiary {
        font-size: 2rem;
        margin-bottom: 2.2rem;
    }

    /* todo */
    .subheading {
        font-size: 1.3rem;
    }

    .text-description {
        font-size: 1.5rem;
        margin-bottom: 3rem;
        line-height: 1.3;
    }

    .btn {
        font-size: 1.5rem;
        border-radius: 6px;
        padding: 1.2rem 3rem;
    }

    .hero-review {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1.6rem;
        margin-top: 3rem;
    }

    .reviews-customer {
        width: 4rem;
        height: 4rem;
    }

    /* make feature as section responsive here */
    /* ....................................... */
    .feature-in {
        font-size: 1.6rem;
        margin-bottom: 3.0rem;
    }

    .section-feature {
        padding: 4.8rem 0;
    }

    .logos {
        display: flex;
        align-items: start;
    }

    .logos img {
        height: 1rem;
    }


    /* Whole application's responsive grid layout here */
    /* ............................................... */
    .grid {
        display: grid;
        gap: 3rem;
    }

    .grid--2__cells {
        grid-template-columns: 1fr;
    }

    .grid--3__cells {
        grid-template-columns: 1fr;
    }

    .grid--4__cells {
        grid-template-columns: 2fr 1fr;
    }

    .grid--5__cells {
        grid-template-columns: 1fr;
    }

    .grid--align__v {
        align-items: center;

    }


    /* maked section-how mobile responsive */
    /* ................................... */
    .how-img-box {
        margin-bottom: 3rem;
    }

    .container {
        padding: 0 4rem;
        width: 100vw;
        margin: 0 auto;
    }

    .text-number {
        font-size: 5.6rem;
    }

    .section-how {
        padding: 9.6rem 0;
    }

    .flex-extra {
        display: flex;
        flex-direction: column-reverse;
    }



}